Vítej mezi uživateli serveru Manitů, <%= @user.nick %>!

Pro aktivaci tvého uživatelského účtu s emailem <%= @user.email %> 
je potřeba potvrdit tuto emailovou adresu kliknutím na následující 
odkaz:

<%= @link %>

Pokud server www.Manitu.cz neznáš, nebo ses tam neregistroval, 
ignoruj prosím tento email. Zřejmě se někdo pokusil registrovat 
tvým jménem.

Přeji příjemné a prospěšné používání Manitú.cz.

Howgh!