<% form_remote_tag :action => "update_check" do %>
<table class="list">
    <tr>
        <th>cesta</th>
        <th>datum poslední kontroly</th>
        <th>stav</th>
        <th>&nbsp;</th>
    </tr>
<% reset_cycle %>
<% site.checks.each do |check| %>
   <%= render :partial => "check_row", :locals => {:check => check} %>
<% end %>
</table>
<% end %>