<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Manitú.cz</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%= stylesheet_link_tag "general", "screen"%>
	<%= javascript_include_tag :defaults %>
</head>

<body>
	
<div id="primary">

	<div id="header">
		<div class="toolbar">
			<div class="fr">
				<% if !act_user %>
					<%= link_to "přihlásit se", :action => "login" %>
				<% else %>
					<strong><%= act_user.email %></strong> <strong>|</strong>
					<%= link_to "administrace", :controller => "manitu/monitoring" %>
				<% end %>				
			</div>
		</div>		
		<h1><%= header_link %></h1>
		<div class="menu">
			<%= link_to_with_selected "O projektu", :action => "index" %>
			<span class="separator">|</span>
			<%= link_to_with_selected "Registrace", :action => "register" %>
		</div>
		<div class="reset">&nbsp;</div>
	</div>

	<%= render :partial => "shared/messages" %>
	
	<div id="main">
		<div class="content">
		<%= yield :layout %>
		</div>
	</div>

	<%= render :partial => "shared/footer" %>
</div>

</body>
</html>
